
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    margin: 5px;
    line-height: 1.5;
	
}
.btn-purple {
    background-color: #639;
    color: #fff;
    border: 2px solid #639;
}
.btn-purple:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(102,51,153,.5);
    box-shadow: 0 0 0 0.2rem rgba(102,51,153,.5);
}
.btn-purple:active {
    -webkit-transform: scale(.9) rotate(-4deg);
    transform: scale(.9) rotate(-4deg);
}
.blogcard-d1 {
    background-color: #fff;
    	border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.08);
    box-shadow: 0 1px 5px rgba(0,0,0,.08);
    border-radius: 8px;
    width: 320px;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
	position: relative;
}
.blogcard-d1 img {
    width: 100%;
    height: 210px;
	padding: 4px;
	border-radius: 10px
}
.blogcard-d1 .body {
    padding:0 15px 15px 15px;

}
.blogcard-d1 .body .head .heading {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blogcard-d1 .body .head .date {
    color: #999;
    font-size: 15px;
}
.blogcard-d1 .body .info {
    margin: 15px 0;
}
.blogcard-d1 .body .btn {
    margin: 0;
}